*.iml
.vscode/

# ignoring all target directories
Core/target/
EdgeNode/target/
Orchestrator/target/
CloudNode/target/
DockerImage/target/
/ServiceNode/target/

/.idea/

# ignoring tar files
EdgeNode/service.tar
CloudNode/src/main/resources/sental.tar
CloudNode/sental.tar

# ignoring some logs
CloudNode/hs_err_pid18512.log

# ignoring dat files
*.dat
